{% extends 'master.html' %}

{% block content %}

<div class="max-w-4xl mx-auto bg-white shadow-lg rounded-2xl p-8 mt-10">

  <h2 class="text-2xl font-bold mb-6 text-center text-gray-700">
    Create Resume
  </h2>

  <form method="POST" enctype="multipart/form-data" class="space-y-6">
    {% csrf_token %}

    <!-- Basic Info -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <input type="text" name="full_name" placeholder="Full Name"
        class="border p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">

      <input type="file" name="profile_pic"
        class="border p-3 rounded-lg bg-gray-50">

      <input type="text" name="address" placeholder="Address"
        class="border p-3 rounded-lg md:col-span-2">

      <input type="text" name="phone" placeholder="Phone"
        class="border p-3 rounded-lg">

      <input type="email" name="email" placeholder="Email"
        class="border p-3 rounded-lg">
      <textarea name="career_objective" placeholder="career objective" class="border p-3 rounded-lg md:col-span-2"></textarea>
    </div>

    <!-- Education -->
    <div>
      <h3 class="text-lg font-semibold mb-2 text-gray-600">Education</h3>
      <div class="grid md:grid-cols-3 gap-3">
        <input type="text" name="degree[]" placeholder="Degree"
          class="border p-2 rounded-lg">
        <input type="text" name="institution[]" placeholder="Institution"
          class="border p-2 rounded-lg">
        <input type="text" name="year[]" placeholder="Year"
          class="border p-2 rounded-lg">
      </div>
    </div>

    <!-- Work -->
    <div>
      <h3 class="text-lg font-semibold mb-2 text-gray-600">Work Experience</h3>
      <div class="grid md:grid-cols-2 gap-3">
        <input type="text" name="company[]" placeholder="Company"
          class="border p-2 rounded-lg">
        <input type="text" name="position[]" placeholder="Position"
          class="border p-2 rounded-lg">

        <input type="date" name="start_date[]"
          class="border p-2 rounded-lg">
        <input type="date" name="end_date[]"
          class="border p-2 rounded-lg">
      </div>
    </div>

    <!-- Skills -->
    <div>
      <h3 class="text-lg font-semibold mb-2 text-gray-600">Skills</h3>
      <div class="flex gap-3">
        <input type="text" name="skill_name[]" placeholder="Skill"
          class="border p-2 rounded-lg w-full">

        <select name="skill_type[]" class="border p-2 rounded-lg">
          <option value="hard">Hard</option>
          <option value="soft">Soft</option>
        </select>
      </div>
    </div>

    <!-- Submit -->
    <div class="text-center">
      <button type="submit"
        class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-3 rounded-lg font-semibold transition duration-200">
        Save Resume
      </button>
    </div>

  </form>
</div>

{% endblock content %}